<!-- WHEN I visit the site for the first time
THEN I am presented with the homepage, which includes existing blog posts if any have been posted; navigation links for the homepage and the dashboard; and the option to log in -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
    <div>
        <header>
            <a href="/">The Tech Blog</a>
            <nav>
                <!-- navigations for home, dashboard, and logout goes here -->
            </nav>
        </header>

        <main>
            {{{ body }}}
        </main>

        <footer>
            <!-- footer notes -->
        </footer>
    </div>

</body>

</html>