<!-- WHEN I click on the homepage option
THEN I am taken to the homepage -->


<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ol>