<!-- WHEN I click on the homepage option
THEN I am taken to the homepage -->

<ol>
    <li>
        <article>
            <div>
                <a href="{{post_url}}" target='_blank'>{{title}}</a>
                <span>{{{post_url}}}</span>
            </div>
        </article>
    </li>
</ol>