{{> post-info post}}

{{#if loggedIn}}

<div class="card">
    <form class="card-body comment-form">
        <textarea class="form-control" name="comment-body" placeholder="Enter comment here"></textarea>
        <button type="submit" class="btn btn-secondary">Add Comment</button>
    </form>
</div>

{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}